<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="main.css">
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    </head>
    <title> PawLytics - Analytics </title>
    <body>
        
            
            <p>
                PawLytics Analytics
            </p>

            <button id='teamPreformance' onclick="window.location.href='teamPreformance'">View Individual Team Preformance</button>
            <button id='teamSummary' onclick="window.location.href='teamSummary'">View Team Preformance Summary</button>
        
    </body>
<html>