<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="main.css">
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    </head>
    <title> PawLytics - Home </title>
    <body>
        
            
            <p>
                Welcome to PawLytics, the home of FRC statistics and analytics!
                <br>
                PawLytics is a web application that provides a comprehensive platform through student-collected scouting data for analyzing and understanding FIRST Robotics Competition (FRC) robot preformance.
                <br>
                Whether you're a student, coach, strategist, mentor, or fan, PawLytics offers a wide range of tools and resources to help you make sense of FRC data.
                
            </p>

            <button id='scoutButton' onclick="window.location.href='scout'">Scout</button>
            <button id='analyzeButton' onclick="window.location.href='analyze'">Analyze</button>
        
    </body>
<html>